<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>EmployeeManagementSystem</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body>
	<h1>Employee List</h1>
	<a th:href="@{/NewEmployee}" class="btn btn-primary btn-sm mb-3">Add
		Employee</a>
	<table border="1" class="table table-stripped table-responsive-md"
		align="center">
		<thead>
			<tr>
				<th>FirstName</th>
				<th>LastName</th>
				<th>EmailId</th>
				<th>Actions</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p:${listofemployee}">
				<td th:text="${p.firstName}"></td>
				<td th:text="${p.lastName}"></td>
				<td th:text="${p.emailId}"></td>
				<td><a th:href="@{/updateForm/{id}(id=${p.id})}"
					class="btn btn=primary">update</a></td>
				<td><a th:href="@{/deleteForm/{id}(id=${p.id})}"
					class="btn btn=primary">delete</a></td>
			</tr>
		</tbody>
</body>
</html>